%u-container {
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - var(--container-offset) * 2);
  max-width: calc(var(--container-max-width) - var(--container-offset) * 2);
}

%u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

%u-text {
  font: var(--fw, 400) var(--fs, var(--font-size-base)) / var(--fh, var(--line-height-body)) var(--font-family-body);
  letter-spacing: var(--ls, 0em);
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

%u-heading {
  font: var(--fw, 700) var(--fs, var(--font-size-base)) / var(--lh, var(--line-height-heading)) var(--font-family-heading);
  letter-spacing: var(--ls, var(--letter-spacing-display));
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}
