PORT=3000
API_BIND_IP=0.0.0.0
API_HOST_PORT=4000
GRAFANA_HOST_PORT=4001

# PostgreSQL
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=your_db_password
DB_NAME=smartur
DB_PORT=5432

# JWT
JWT_SECRET=your_jwt_secret_here

# CORS
FRONTEND_URL=http://localhost:5173,http://localhost:3000

# Email (Nodemailer)
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password

# Redis
REDIS_URL=redis://:your_redis_password@redis:6379
REDIS_PASSWORD=your_redis_password

# Grafana
GRAFANA_USER=admin
GRAFANA_PASSWORD=your_grafana_password

# google 
GOOGLE_CLIENT_ID=algo.apps.googleusercontent.com
