# Dependencies
node_modules
npm-debug.log
pnpm-lock.yaml
package-lock.json
yarn-error.log

# Build outputs
dist

# IDE
.vscode
.idea
*.swp

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Environment files
.env
.env.local
.env.*.local

# Astro
.astro

# Misc
*.log